<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Conceptos Basicos - Regresión Logistica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target="#sidebarMenu" data-bs-offset="80" tabindex="0">

   <nav class="navbar navbar-expand-lg bg-white sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="#">
                <i class="bi bi-layers-fill text-danger"></i>
                Machine Learning
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Alternar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center gap-lg-2">
                    <li class="nav-item"><a class="nav-link active" href="index"><i class="bi bi-house-door-fill me-2"></i>Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Casos de Uso</a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="caso1"><i class="bi bi-speedometer2 me-2"></i>PayPal - Detección de fraude en pagos</a></li>
                            <li><a class="dropdown-item" href="caso2"><i class="bi bi-graph-up me-2"></i>Amazon – Sistemas de Recomendación Personalizados</a></li>
                            <li><a class="dropdown-item" href="caso3"><i class="bi bi-diagram-3 me-2"></i>Netflix: Sistemas de Recomendación Personalizados</a></li>
                            <li><a class="dropdown-item" href="caso4"><i class="bi bi-database me-2"></i> Uber: Optimización de Rutas y Transporte</a></li>
                        </ul>
                    </li>

                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Regresion Lineal</a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="conceptoLineal"><i class="bi bi-speedometer2 me-2"></i> Conceptos básicos</a></li>
                            <li><a class="dropdown-item" href="praticoLineal"><i class="bi bi-graph-up me-2"></i>Ejercicio práctico</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Regresion Logistica</a>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="conceptoLogistica"><i class="bi bi-speedometer2 me-2"></i> Conceptos básicos</a></li>
                            <li><a class="dropdown-item" href="praticoLogistica"><i class="bi bi-graph-up me-2"></i>Ejercicio práctico</a></li>
                        </ul>
                    </li>

                    <li class="nav-item ms-lg-2">
                    <a href="https://github.com/emily-180/TareasML" class="btn btn-dark px-4">
                        <i class="bi bi-github me-1"></i>GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#intro">Introducción</a></li>
                        <li class="nav-item"><a class="nav-link" href="#regresion">Modelo para variable objetivo binaria</a></li>
                        <li class="nav-item"><a class="nav-link" href="#linealidad">Probabilidad mediante sigmoide/logit</a></li>
                        <li class="nav-item"><a class="nav-link" href="#conclusiones">Conclusiones</a></li>
                        <li class="nav-item"><a class="nav-link" href="#referencias">Referencias</a></li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">

                <section id="intro" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Introducción</h2>
                            <p>xxxx
                            </p>
                        </div>
                    </div>
                </section>

                <section id="regresion" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Modelo para variable objetivo binaria</h2>
                            <p>xxxxxxxx
                            </p>
                        </div>
                    </div>
                </section>

                <section id="linealidad" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Probabilidad mediante sigmoide/logit</h2>
                            <p>xxxx
                            </p>
                        </div>
                    </div>
                </section>

                <section id="conclusiones" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Conclusiones</h2>
                            <p>xxxxxxxxx</p>
                        </div>
                    </div>
                </section>

                <section id="referencias" class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2>Referencias</h2>
                            <ul>
                                <li>
                                    Amazon Web Services. (s.f.). ¿Qué es la regresión lineal? AWS. Recuperado el 9 de
                                    septiembre de 2025, de
                                    <a href="https://aws.amazon.com/es/what-is/linear-regression/" target="_blank">
                                        https://aws.amazon.com/es/what-is/linear-regression/
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

            </main>
        </div>
    </div>

    <footer class="text-center py-4 bg-light mt-5">
        <small class="text-muted">
            Proyecto académico • Universidad de Cundinamarca • 2025
        </small>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>